* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 600px;
    margin: auto; 
}
.headerPanel {
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
}
.container {
    border: 10px chocolate solid;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}
.gridRows {
    display: flex;
    flex: 1;
}
.gridBoxes {
    flex: 1;
    background-image: radial-gradient(black, white);
    opacity: 0.9;
    cursor: pointer;
}
h1{
    margin: 0px auto;
    color: greenyellow;
    background-color: chocolate;
    width: 100%;
    text-align: center;
}
button {
    padding: 5px 20px;
    margin-left: 4px;
    border-radius: 8px;
    cursor: pointer;
}
select {
    margin-top: 1px;
    padding: 5px 0px;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
}
label {
    margin-left: 4px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}
input {
    margin-top: 1px;
    border-radius: 8px;
    cursor: pointer;
    padding: 1px;
}
.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blanchedalmond;
    color: brown;
    border: 5px solid darkred;
    padding: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 98vw;
}
.OKButton {
    align-self: center;
    padding: 10px 25px;
}