* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 600px;
    margin: auto; 
}
.headerPanel {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.container {
    border: 10px purple solid;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
}
.gridRows {
    display: flex;
    flex: 1;
}
.gridBoxes {
    flex: 1;
    background-image: radial-gradient(black, white);
    opacity: 0.9;
    font-weight: 900;
    text-align: center;
    align-content: center;
    cursor: pointer;
}
h1{
    margin: 0px auto;
    color: greenyellow;
    background-color: purple;
    width: 100%;
    text-align: center;
}
button {
    padding: 5px 20px;
    margin-left: 4px;
    border-radius: 8px;
    cursor: pointer;
}
select {
    margin-top: 1px;
    padding: 5px 0px;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
}
label {
    margin-left: 4px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}
input {
    margin-top: 1px;
    border-radius: 8px;
    cursor: pointer;
    padding: 1px;
}
.transparent {
    font-size: small;
}
dialog {
    margin: auto;
    width: 400px;
    color: black;
    background-color: white;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
}
